{{!< default}}

<div class="outer">
<div class="middle">
<div class="inner">

<div class="pusher hidden-xs hidden-sm">&nbsp;</div>
<div class="wrapper">
  <div id="countdown"></div>
  <div class="content">
    <p class="info_text">...until the website is launched!</p>
    <h1>Get our newsletter</h1>
    <p>Sign up to hear more about UTAU, and win great prizes!</p>
    <div id="subscribe-wrapper">
      <div id="success" class="alert alert-success" role="alert">Success! Stay tuned for the winners when we launch!</div>
      <div id="failure" class="alert alert-danger" role="alert">Sorry, something went wrong, please try again.</div>
      <form id="subscribe" class="form" action="http://utau.createsend.com/t/t/s/ijykjh/" method="post">
        <div class="form-group">
          <input class="form-control" id="fieldName" name="cm-name" type="text" placeholder="Your name" required/>
          <input class="form-control" id="fieldEmail" name="cm-ijykjh-ijykjh" type="email" placeholder="Your email address" required />
        </div>
        <button type="submit" id="button" class="pull-right">Subscribe</button>
      </form>
    </div>
  </div>
</div>

</div>
</div>
</div>

